.bioDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  min-height: 150px;
  overflow: auto;
  float: left;
}
.bioHeader {
  width: 100%;
  height: 35px;
  color: aliceblue;
}

.innerBioText {
  font-size: 12px;
}
